
* {
  padding: 0;
  margin: 0;
}

nav > ul{
  display: flex;
}

li {
  list-style: none;
}

#sidebar {
  height: 100%; 
  width: 0; 
  position: fixed; 
  z-index: 1; 
  top: 0;
  left: 0;
  background-color: #fcab41;
  overflow-x: hidden;
  padding-top: 60px;
  transition: 0.5s; 
}

#sidebar > #close-sidebar-button {
  position: absolute;
  top: 25px;
  right: 25px;
  margin-left: 50px;
}

.project-list {
  position: absolute;
  top: 50px;
  right: -25px;
  left: 0;
  margin-left: 0px;
}

#create-project {
  width:75%;
}

#main {
  background-color: #ffbf69;
  transition: margin-left .5s; 
}

.todo-container {
  background-color: #ffe9cd;
}

.hidden {
  display:none;
}

#create-project-button {
  border: none;
  background-color: transparent;
}

.project-container {
  color: black;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding-right: 60px;
}

.project-container > img {
  padding-top: 5px;
}

.project-container > img:hover {
  cursor: pointer;
  filter: invert(1);
}

.project-container > p:hover {
  cursor: pointer;
  color: antiquewhite;
}

.project-container > p:active {
  color: rgb(141, 128, 112);
}

#create-project-button:hover {
  border: none;
  background-color: transparent;
  color: antiquewhite;
}

#create-project-button:active {
  color: rgb(141, 128, 112);
}

.create-project-exists-error {
  border: 1px solid red;
  outline: none;
}

.todo-container {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: auto;
  border-bottom: solid #f5b562 1px;
}

.todo-container > :nth-child(1) {
  margin-bottom: 5px;
}

.delete-todo-button {
  grid-column: 9;
}

.expand-todo-button {
  grid-row: 1;
  grid-column: 8;
}

.collapse-todo-button {
  grid-row: 1;
  grid-column: 8;
}

.completed-checkbox {
  grid-row: 1;
  grid-column: 1;
  align-self: center;
  height: 20px;
  width: 20px;
}

.completed-todo {
  text-decoration: line-through;
  color: gray;
}