
* {
  padding: 0;
  margin: 0;
}

nav > ul{
  display: flex;
}

li {
  list-style: none;
}

#sidebar {
  height: 100%; 
  width: 0; 
  position: fixed; 
  z-index: 1; 
  top: 0;
  left: 0;
  background-color: #fcab41;
  overflow-x: hidden;
  padding-top: 60px;
  transition: 0.5s; 
}

#sidebar > #close-sidebar-button {
  position: absolute;
  top: 25px;
  right: 25px;
  margin-left: 50px;
}

.project-list {
  position: absolute;
  top: 50px;
  right: -25px;
  left: 0;
  margin-left: 0px;
}

#create-project {
  width:75%;
}

#main {
  background-color: #ffbf69;
  transition: margin-left .5s; 
}

.todo-container {
  background-color: red;
}

.hidden {
  display:none;
}